.parent {
    border: 2px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    place-items: center;

}

.child {
    height: 100px;
    width: 100px;

}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}